body {
    background-color: #ffffff;
    color: #1b1b1b;
    padding: 40px;
}

.top-navigation-container {
    background-color: #ffffff;
    padding: 10px;

    display: flex;
    justify-content: flex-end;

    position: sticky;
    top: 0;

    /* To prevent clicking components underneath */
    z-index: 10;
}

#theme-switcher {
    border: 2px solid;
    background-color: #ffffff;
    padding: 10px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

#theme-switcher:hover {
    transform: scale(1.2);
}

header {
    display: flex;
    column-gap: 50px;
}

.profile-image-container {
    border: 1px solid;
    min-width: 400px;
    min-height: 250px;
}

.profile-links-container {
    padding: 0 20px;
    display: flex;
    flex-direction: row-reverse;
}

/* 
    NOTE: The img and svg at here refers to only small icons.
    As such, if we were to include actual image at
    other places in the future, this will certainly cause
    some issues. As the requirements for change hasn't
    arrive (yet), the author will leave this as it is.
*/
img, svg {
    width: 30px;
    height: 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    border: 1px solid;
    max-width: 300px;
}

.project-screenshot-container {
    border-bottom: 2px solid;
    height: 200px;
}

.project-description-container {
    padding: 10px;
    padding-bottom: 40px;
}

.project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-links-container {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}

footer {
    margin-top: 40px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.contacts-container, .address-container, .emails-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.footer-image-container {
    display: inline-block;
    border: 1px solid;
    min-width: 300px;
    min-height: 250px;
}

a img, a svg {
    transition: transform 0.4s ease-in-out;
}

a img:hover, a svg:hover {
    transform: scale(1.20);
}

@media (width < 750px) {
    body {
        padding: 20px;
    }
    header {
        flex-direction: column;
    }

    .card {
        max-width: 250px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (width < 450px) {
    body {
        padding: 10px;
    }

    .profile-image-container {
        min-width: 90%;
    }
}

body.dark-mode {
    background-color: #1b1b1b;
    color: #ffffff;
}

.top-navigation-container.dark-mode {
    background-color: #1b1b1b;
}

#theme-switcher.dark-mode {
    color: #ffffff;
    background-color: #1b1b1b;
}

img.dark-mode, svg.dark-mode {
    filter: invert(1);
}
