header {
    display: flex;
}

.profile-image-container {
    background-color: black;
    min-width: 400px;
    min-height: 250px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: aquamarine;
    max-width: 350px;
}

.project-screenshot-container {
    background-color: black;
    height: 100px;
}

.project-header-container {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
}

.footer-image-container {
    background-color: black;
    min-width: 550px;
    min-height: 250px;
}

/* a:link {
    width: 44px;
    height: 44px;
} */

img, svg {
    width: 44px;
    height: 44px;
}

.contacts-container, .address-container, .emails-container {
    display: flex;
    align-items: center;
}
