header {
    display: flex;
}

.profile-image-container {
    background-color: black;
    min-width: 400px;
    min-height: 250px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    background-color: aquamarine;
    min-width: 200px;
}

.project-screenshot-container {
    background-color: black;
    height: 100px;
}

footer {
    display: flex;
}

.footer-image-container {
    background-color: black;
    min-width: 550px;
    min-height: 250px;
}
